name: TorrentBot

on:
  schedule:
    - cron: "0 */4 * * *"  
  workflow_dispatch:       

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo locally
        uses: actions/checkout@v4


      - name: Install Cloudflared
        run: |       
          # Add cloudflare gpg key
          sudo mkdir -p --mode=0755 /usr/share/keyrings
          curl -fsSL https://pkg.cloudflare.com/cloudflare-main.gpg | sudo tee /usr/share/keyrings/cloudflare-main.gpg >/dev/null

          # Add this repo to your apt repositories
          echo 'deb [signed-by=/usr/share/keyrings/cloudflare-main.gpg] https://pkg.cloudflare.com/cloudflared any main' | sudo tee /etc/apt/sources.list.d/cloudflared.list

          # install cloudflared
          sudo apt-get update && sudo apt-get install cloudflared

      - name: Setup Cloudflared
        run: |
          #sudo cloudflared service install eyJhIjoiOWFjMWUxOTExMmU5ZWZmZDIzNmFlNDk1NDIyYmY2ZjgiLCJ0IjoiOTFhZjIzOWQtMDA1My00YjhhLWE2ZTItYjFkODhhNGU3YWM0IiwicyI6Ik1ETTROekZqTWpBdE5EazJZUzAwTTJZekxUbGtOVGd0WWpCbFltWXhNMk5tTVdFMSJ9
          cloudflared tunnel run --token eyJhIjoiOWFjMWUxOTExMmU5ZWZmZDIzNmFlNDk1NDIyYmY2ZjgiLCJ0IjoiZDBiMjI1MTItNmE1OC00MmZkLTk5MTMtNzYxMjczYWUzN2YwIiwicyI6Ik5qRmhZalU0Wm1RdE1HUTNNUzAwTlRKaExUa3lNbVF0TUROak16TXpOakJsWXpNeiJ9 &

      - name: Run sshd
        run: |
          sudo apt install openssh-server -y        
          echo 'runner:mypasswd' | sudo chpasswd
          echo -e "Port 22\nListenAddress 0.0.0.0" | sudo tee /etc/ssh/sshd_config
          sudo ssh-keygen -A
          sudo mkdir -p /run/sshd
          sudo chmod 755 /run/sshd
          sudo /usr/sbin/sshd &

      - name: Flush Iptables
        run: |
          # Flush All Rules (Reset iptables)
          #sudo iptables -F
          #sudo iptables -X
          #sudo iptables -t nat -F
          #sudo iptables -t nat -X
          #sudo iptables -t mangle -F
          #sudo iptables -t mangle -X

          #sudo ip6tables -F
          #sudo ip6tables -X
          #sudo ip6tables -t nat -F
          #sudo ip6tables -t nat -X
          #sudo ip6tables -t mangle -F
          #sudo ip6tables -t mangle -X

          # Set Default Policies
          #sudo iptables -P INPUT ACCEPT
          #sudo iptables -P FORWARD ACCEPT
          #sudo iptables -P OUTPUT ACCEPT

          #sudo ip6tables -P INPUT ACCEPT
          #sudo ip6tables -P FORWARD ACCEPT
          #sudo ip6tables -P OUTPUT ACCEPT

          # save
          #sudo iptables-save | sudo tee /etc/iptables/rules.v4
          #sudo ip6tables-save | sudo tee /etc/iptables/rules.v6

      - name: Run Bot
        run: |
          git clone https://github.com/callmehuda/torrentbot.git
          cd torrentbot
          sudo apt install python3 python3-pip
          pip3 install -r requirements-cli.txt
          cp config_sample.py config.py
          sudo docker build . -t mltb
          sudo docker run --network host mltb
          
        timeout-minutes: 240
        continue-on-error: true
      - name: Save to GitHub
        run: |
          #git pull
          #git config user.name github-actions
          #git config user.email actions@github.com
          #git add .
          #git commit -m "Update Files"
          #git push
